name: qa_test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12.2"
      - run: uv sync                # sync dependencies
      - run: uv run ruff format --check  # check formatting is correct
      - run: uv run ruff check      # and linting
      - run: uv run pyright src     # typecheck
      - run: uv run pytest          # then run your tests!
